body{
    margin: 0%;
    padding: 0%;
    background: #547b94;
}
.name{
    width:100%;
    height: 300px;
    background: #0b9dc2;

    transform: skewy(5deg);

}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}


.name .content .p_1{
    color: rgb(7, 7, 7);
    font-family: 'baloo tama 2', serif;
    font-weight: bolder;
    font-size: 60px;
    transform: skewy(-4deg);
    margin-bottom: 0;
  
}
.name .content .p_2{
    color: rgb(245, 244, 239);
    font-family: 'baloo tama 2', serif;
    font-size: 35px;
    transform: skewy(-3deg);
    margin-top: 0;
    margin-bottom: 0;
  
}

.name .img {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 100px;
    height: 500px;
    border: 100%;
    overflow: hidden;
    border-radius: 15px; 
	
}
.name .img img{
    width: 100px;
    height: 200px;
}


.info {
    width: 90%;
    height: auto;
    background: #8fe3e6;
    margin:5% auto;
    padding: 20px;
    border-radius: 50px;
    width: 200px ;
}

.ExperienciaPersonal .info .tituloseccion {
    color: rgb(8, 8, 8);
    font-family: 'baloo tama 2', serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #093970 dashed;

}

.info .tittuloinfo {
    color: #050505;
    font-family: 'baloo tama 2', serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo {
    color: #141816;
    font-family: 'baloo tama 2', serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}